.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  padding: 5px;
}

li {
  text-align: left;
  list-style: none;
  border-bottom: solid 1px #ccc;
  padding: 5px 0;
}
li.selected {
  background-color: #f9eaea;
}
li:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}

.left {
  width: 200px;
  float: left;
  border-right: solid 3px #d4d4d4;
}
.right {
  margin-left: 200px;
  border-left: solid 3px #d4d4d4;
  /* background-color: #ccc; */
  padding: 10px;
}

.right img {
  max-width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
